<h1>Here are the tasks</h1>

<table class="table table-hover">
  <tr>
    <th>
      Task
    </th>
    <th>Completed</th>
    <th>Delete</th>
    <th>Edit</th>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td>
        <%= link_to "#{task.name}", "/tasks/#{task.id}" %>
      </td>
      <% if task.done_date.nil? %>
        <td>
          <%= render partial: 'complete_button',
            locals: { button_path: "/tasks/#{task.id}/complete" }%>
      </td>
      <% else %>
        <td>
          completed <%= distance_of_time_in_words(task.done_date, Time.now) %> ago
        </td>
      <% end %>
      <td>
        <%= render partial: 'delete_button', locals: { button_path: "/tasks/#{task.id}" }%>
    </td>
      <td>
        <%= render partial: 'edit_button', locals: { button_path: "/tasks/#{task.id}/edit" }%>
      </td>
    </tr>
  <% end %>
</table>

<%= render 'add_task' %>
